.thim-featured-home5 {
	border-radius: 10px;
	background-image: linear-gradient(to left, #209cff, #04e5c5);
	position: relative;
	z-index: 1;
	margin-top: -150px;
	padding: 37px 50px 37px 50px;

	> .panel-grid-cell, > .wpb_column, > .elementor-column.elementor-col-20 {
		position: relative;

		&:after {
			content: '';
			position: absolute;
			width: 1px;
			height: 130px;
			background-color: rgba(255, 255, 255, .2);
			right: -15px;
			top: 50%;
			transform: translate(0%, -50%);

		}

		&:last-child {
			&:after {
				display: none;
			}
		}
	}
}

.thim-background-home5 {
	overflow: visible !important;
	background-repeat: no-repeat !important;

	> .panel-grid-cell, > .wpb_column {
		margin-top: -306px;
	}
}

.thim-button-style5 {
	.thim-widget-button {
		.widget-button {
			font-size: 15px;
			font-weight: 500;
			font-style: normal;
			font-stretch: normal;
			letter-spacing: 0.3px;
			color: #333333;
			padding: 10px 40px !important;
			height: 48px !important;
			border-radius: 24px;
			background: #209cff;
			background: -webkit-linear-gradient(left, #209cff, #04e5c5);
			background: -o-linear-gradient(left, #209cff, #04e5c5);
			background: -moz-linear-gradient(left, #209cff, #04e5c5);
			background: linear-gradient(left, #209cff, #04e5c5);
			position: relative;
			z-index: 0;
			transition: all .2s;
			border: none;

			&:after {
				content: '';
				display: block;
				width: calc(100% - 2px);
				height: calc(100% - 2px);
				border-radius: 24px;
				background-color: #fff;
				position: absolute;
				z-index: -1;
				top: 1px;
				left: 1px;
				transition: all .2s;
			}

			&:hover {
				color: #fff;
				background: #209cff;
				background: -webkit-linear-gradient(left, #209cff, #04e5c5);
				background: -o-linear-gradient(left, #209cff, #04e5c5);
				background: -moz-linear-gradient(left, #209cff, #04e5c5);
				background: linear-gradient(left, #209cff, #04e5c5);

				&:after {
					opacity: 0;
				}
			}
		}
	}
}

.thim-contact-home5 {
	//contact home 5 new
	border-radius: 10px;
	box-shadow: -10px 17.3px 25px 0 rgba(0, 0, 0, 0.1);
	background-color: #ffffff;
	margin: -57px 117px 0;
	padding: 0 46px 0 58px;

	.thim-widget-single-images {
		.single-image {
			img {
				margin-top: -87px;
			}
		}
	}
}

.wpcf7-form {
	.contact-home5 {
		margin-top: 77px;

		.widget-title {
			margin-bottom: 22px;
			text-align: center;
			font-size: 40px;
			font-weight: bold;
			font-style: normal;
			font-stretch: normal;
			line-height: 1.2;
			letter-spacing: 0.8px;
			text-transform: none;
		}

		p {
			span {
				input {
					border: 1px solid rgb(204, 204, 204);
					border-radius: 5px;
					background-color: rgb(204, 204, 204);
					min-height: 60px;
					font-size: 16px;
					color: #333;
					width: 100%;

					&::-webkit-input-placeholder { /* Edge */
						color: rgb(153, 153, 153);
					}

					&:-ms-input-placeholder { /* Internet Explorer 10-11 */
						color: rgb(153, 153, 153);
					}

					&::placeholder {
						color: rgb(153, 153, 153);
					}

					&:focus {
						background: #fff;
					}
				}
			}

			&.contact-submit {
				input[type=submit] {
					width: 100%;
					border-radius: 5px;
					box-shadow: -10px 17.3px 25px 0 rgba(35, 31, 32, 0.1);
					background-image: linear-gradient(to left, #209cff, #04e5c5);
					margin-top: 0;
					height: 60px;
					font-size: 15px;
					font-weight: 500;
					font-style: normal;
					font-stretch: normal;
					line-height: 1.73;
					letter-spacing: 0.3px;
					color: #ffffff;

					&:hover {
						background-image: linear-gradient(to right, #209cff, #04e5c5);
					}
				}
			}
		}
	}
}

//testimonials home 5 new
.thim-bacground-testimonials-home5 {
	background-image: linear-gradient(to left, rgb(32, 156, 255), rgb(4, 229, 197));
	position: relative;

	&.vc-row {
		overflow: visible !important;
		display: inline-block;
	}

	&:after {
		//bk 1
		content: '';
		position: absolute;
		top: 151px;
		left: 52px;
		width: 194px;
		height: 329px;
		background-image: url('images/bk-testimonials.png');
		background-repeat: no-repeat;
	}

	> .panel-grid-cell, .wpb_column {
		position: relative;
		//bk2
		&:after {
			content: '';
			position: absolute;
			background-image: url('images/bk-testimonials2.png');
			top: 80px;
			right: -15px;
			width: 143px;
			height: 327px;
			z-index: 9;
		}
	}
}


//pricing
.thim-pricing-home5 {
	#shaon-pricing-table-plus.gray {
		display: inline-block;
		width: 100%;
		margin: 0 auto;

		.minimal {
			width: 100%;
			text-align: center;

			.highlight {
				width: 32.5%;
				transition: all 0.3s;

				&.plan {

					.content-highlight {
						margin: 0 20px;
						border-radius: 10px;
						box-shadow: -10px 17.3px 25px 0 rgba(0, 0, 0, 0.05);
						background-color: rgb(255, 255, 255);

						h3 {
							background: #fff !important;
							border: 0;
							font-size: 20px;
							font-weight: bold;
							font-style: normal;
							font-stretch: normal;
							line-height: 1.4;
							letter-spacing: normal;
							text-align: center;
							color: rgb(51, 51, 51);
							padding-top: 34px;
							padding-bottom: 0;
							border-top-left-radius: 10px;
							border-top-right-radius: 10px;
							text-transform: capitalize;

							&:after {
								display: none;
							}
						}

						h4 {
							background: #fff !important;
							border: 0;
							text-align: center;
							padding-top: 0;
							padding-bottom: 0;

							.amount {
								display: inline-block;
								font-size: 50px;
								font-weight: bold;
								font-style: normal;
								font-stretch: normal;
								line-height: 1.59;
								letter-spacing: normal;
								color: rgb(51, 51, 51);
							}

							.interval {
								display: inline-block;
								font-size: 20px;
								font-weight: bold;
								font-style: normal;
								font-stretch: normal;
								line-height: 1.4;
								letter-spacing: normal;
								color: rgb(51, 51, 51);
							}
						}

						.features {
							ul {
								border: 0 !important;
								padding: 0 30px !important;

								li {
									font-size: 16px;
									font-weight: normal;
									font-style: normal;
									font-stretch: normal;
									line-height: 1.4;
									letter-spacing: 0.32px;
									text-align: left;
									color: rgb(102, 102, 102);
									padding: 0 !important;
									padding-bottom: 17px !important;

									&:before {
										background-image: linear-gradient(to left, rgb(32, 156, 255), rgb(4, 229, 197)), linear-gradient(to bottom, rgb(102, 102, 102), rgb(102, 102, 102));
										font-family: Ionicons;
										font-size: 32px;
										letter-spacing: 0.28px;
										text-align: left;
										color: rgb(102, 102, 102);
										-webkit-background-clip: text;
										background-clip: text;
										-webkit-text-fill-color: transparent;
									}

									&:first-child {
										padding-top: 10px !important;
									}
								}
							}

							.select {
								border: 0;

								a.pt-button {
									display: inline-block;
									font-size: 15px;
									font-weight: 500;
									font-style: normal;
									font-stretch: normal;
									letter-spacing: .3px;
									color: #333;
									padding: 10px 40px !important;
									height: 48px !important;
									border-radius: 24px;
									background: #209cff;
									background: -webkit-linear-gradient(left, #209cff, #04e5c5);
									background: -o-linear-gradient(left, #209cff, #04e5c5);
									background: -moz-linear-gradient(left, #209cff, #04e5c5);
									background: linear-gradient(left, #209cff, #04e5c5);
									position: relative;
									z-index: 0;
									transition: all .2s;
									line-height: 1.7;
									width: 180px;
									border: 0 !important;

									&:after {
										content: '';
										display: block;
										width: calc(100% - 4px);
										height: calc(100% - 4px);
										border-radius: 24px;
										background-color: #fff;
										position: absolute;
										z-index: -1;
										top: 2px;
										left: 2px;
										transition: all .2s;
									}

									&:hover {
										color: #fff;
										background: #209cff;
										background: -webkit-linear-gradient(left, #209cff, #04e5c5);
										background: -o-linear-gradient(left, #209cff, #04e5c5);
										background: -moz-linear-gradient(left, #209cff, #04e5c5);
										background: linear-gradient(left, #209cff, #04e5c5);
										border: 0 !important;

										&:after {
											opacity: 0;
											border: 0;
										}
									}
								}
							}
						}
					}
				}

				&.featured {
					width: 35%;
					margin-top: -86px;

					.content-highlight {
						background-image: linear-gradient(to left, rgb(32, 156, 255), rgb(4, 229, 197));
						overflow: visible;

						h3 {
							padding-top: 120px;
							background-image: linear-gradient(to left, rgb(32, 156, 255), rgb(4, 229, 197)) !important;
							color: #fff !important;
						}

						h4 {
							background-image: linear-gradient(to left, rgb(32, 156, 255), rgb(4, 229, 197)) !important;

							span {
								color: #fff !important;
							}
						}

						.features {
							ul {
								padding: 0 50px !important;

								li {
									color: #fff !important;

									&:before {
										background: none transparent;
										color: #fff !important;
										-webkit-background-clip: text;
										background-clip: text;
										-webkit-text-fill-color: rgb(255, 255, 255);
									}
								}
							}

							.select {
								a.pt-button {
									color: rgb(255, 255, 255);
									border: 0 !important;

									&:after {
										//display: none;
										background: transparent;
									}
								}
							}
						}

						//new
						&:before {
							content: 'Popular Choice';
							transform: rotate(0deg);
							box-shadow: -10px 17.3px 25px 0 rgba(0, 0, 0, 0.05);
							background-color: rgb(255, 255, 255);
							padding: 8.5px 28.5px;
							border-radius: 5px 0 0 5px;
							right: -10px;
							font-size: 20px;
							font-weight: bold;
							color: #209cff;
							text-transform: capitalize;
						}

						&:after {
							content: '';
							top: 66px;
							right: -10px;
							position: absolute;
							border: 5px solid #ccc;
							border-bottom-color: transparent;
							border-right-color: transparent;
						}

					}
				}

				&:hover {
					.content-highlight {
						margin: 0 20px !important;
					}
				}
			}
		}
	}
}

footer#colophon.thim-footer-home5 {
	padding-top: 200px;
	position: relative;
	z-index: 9;

	.footer {
		padding-top: 0;
		padding-bottom: 65px;

		p {
			font-size: 16px;
			font-weight: normal;
			font-style: normal;
			font-stretch: normal;
			line-height: 2;
			letter-spacing: normal;
			text-align: left;
			color: #848484;
		}

		.footer_widget {
			padding-top: 0;

			.info-contact {
				padding-right: 75px;

				ul {
					li {
						font-size: 16px;
						font-weight: normal;
						font-style: normal;
						font-stretch: normal;
						line-height: 1.63;
						letter-spacing: normal;
						text-align: left;
						margin-bottom: 8px;

						i {
							background-image: linear-gradient(to left, #209cff, #04e5c5), linear-gradient(to bottom, #999999, #999999);
							font-family: FontAwesome;
							font-size: 16px;
							font-weight: normal;
							font-style: normal;
							font-stretch: normal;
							line-height: normal;
							letter-spacing: normal;
							text-align: left;
							color: #999999;
							-webkit-background-clip: text;
							background-clip: text;
							-webkit-text-fill-color: transparent;
							margin-right: 14px;
							padding: 1px;
							display: inline-block;
						}

						a {
							font-size: 16px;
							font-weight: normal;
							font-style: normal;
							font-stretch: normal;
							line-height: 1.63;
							letter-spacing: normal;
							text-align: left;
						}

						p {
							display: inline-block;
							margin-left: 25px;
							margin-top: -29px;
						}
					}
				}
			}
		}
	}

	.widget-title, .widgettitle {
		font-family: Montserrat;
		font-size: 20px;
		font-weight: 600;
		font-style: normal;
		font-stretch: normal;
		line-height: 1.2;
		letter-spacing: normal;
		margin-top: 0;
		margin-bottom: 5px;

		&:after {
			display: none;
		}
	}

	.menu .menu-item {
		margin-bottom: 0;

		a {
			font-size: 16px;
			font-weight: normal;
			font-style: normal;
			font-stretch: normal;
			line-height: 2.19;
			letter-spacing: normal;
			text-align: left;
		}
	}

	.copyright-area {
		background: transparent;
		border: 0;

		.copyright-content {
			padding-top: 25px;
			padding-bottom: 24px;
			border-top: 1px solid #ccc !important;

			.text-copyright {
				font-size: 15px;
				font-weight: normal;
				font-style: normal;
				font-stretch: normal;
				line-height: 1.73;
				letter-spacing: normal;
				text-align: left;
				color: #848484;

				a {
					font-weight: 500;
					color: #1aadf1;
				}
			}

			.thim-widget-social {
				ul.social_link {
					margin: -5px 0 0;

					li {
						display: inline-block;
						padding: 0;

						a {
							i {
								width: 45px;
								height: 45px;
								line-height: 45px;
								font-size: 20px;
								font-weight: normal;
								font-style: normal;
								font-stretch: normal;
								letter-spacing: normal;
								color: #848484;
								border: solid 1px #cccccc;

								&:hover {
									color: #fff;
								}
							}
						}
					}
				}
			}
		}
	}

	&:after {
		content: '';
		position: absolute;
		top: 100px;
		border-top-left-radius: 10px;
		border-top-right-radius: 10px;
		left: 50%;
		bottom: 0;
		z-index: -1;
		width: 1570px;
		background-image: linear-gradient(to bottom, rgba(255, 255, 255, .8) 80%, rgba(255, 255, 255, .11));
		transform: translateX(-50%);
	}

	.mc4wp-form .mc4wp-form-fields #thim-subcribe-home5 {
		display: inline-block;
		position: relative;
	}

	.mc4wp-form .mc4wp-form-fields #thim-subcribe-home5 input[type=email] {
		width: 416px;
		height: 52px;
		border-radius: 25px;
		box-shadow: -10px 17.3px 25px 0 rgba(0, 0, 0, 0.1);
		background-color: #ffffff;
		color: #848484;
		font-size: 15px;
		padding-left: 20px;
	}

	.mc4wp-form .mc4wp-form-fields #thim-subcribe-home5 button {
		width: 112px;
		height: 44px;
		border-radius: 21.5px;
		background-image: linear-gradient(to left, #209cff, #04e5c5);
		font-size: 15px;
		font-weight: 500;
		font-style: normal;
		font-stretch: normal;
		letter-spacing: normal;
		text-align: left;
		color: #ffffff;
		position: absolute;
		top: 4px;
		right: 5px;

		&:hover {
			background-image: linear-gradient(to right, #209cff, #04e5c5);
		}
	}
}

.body-therapist-layout.body-home5-layout {
	#back-to-top {
		width: 47px;
		height: 47px;
		border-radius: 50%;
		background-image: linear-gradient(to left, #209cff, #04e5c5);

		i {
			font-size: 25px;
			line-height: 47px;

			&:before {
				font-family: Ionicons;
				content: '\f3d7';
			}
		}

		&:hover {
			background-image: linear-gradient(to right, #209cff, #04e5c5);

			i {
				color: #fff;
			}
		}
	}
}


//VC
.thim-show-over {
	overflow: visible !important;
}

.vc_row .thim-button-style5 {
	margin-top: 25px;
}

.thim-margin-top40 {
	margin-top: 40px;
}

.vc_row.thim-contact-home5 {
	margin-top: -90px;

	.vc_single_image-wrapper {
		img {
			margin-top: -87px;
		}
	}
}

.vc_row {
	.thim-widget-heading {
		.sc_heading.home-5 {
			margin-bottom: 50px;

			.sub-heading {
				br {
					display: none;
				}
			}
		}
	}
}

.custom-heading-home5 {
	padding-right: 120px;

	.thim-widget-heading {
		.sc_heading.home-5 {
			margin-bottom: 0 !important;

			.sub-heading {
				p {
					margin-bottom: 15px;
				}
			}
		}
	}
}

.vc_row.thim-bacground-testimonials-home5 {
	overflow: visible !important;
	display: inline-block;
}

.vc_row .thim-pricing-home5 {
	padding-top: 63px;
}

.elementor-element.thim-contact-home5 {
	margin: -57px 0 0;
}

//fix el
footer#colophon .footer .menu-home5-el .widget-title {
	margin-bottom: 0;
	padding-bottom: 0;
}