/*
blue color: #3498db
*/
/* --------------------------------------------- */
/* BASIC SETUP */
/* --------------------------------------------- */
@import url("https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,400;0,700;1,400;1,700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  background-color: #fff;
  color: #555;
  font-family: "Karla", sans-serif;
  font-weight: 400;
  font-size: 15px;
  letter-spacing: 0.5px;
  text-rendering: optimizeLegibility;
  overflow-x: hidden;
}

img {
  height: 200px;
  width: 400px;
}

a {
  color: #3498db;
}

a:hover {
  color: #c4c4c4;
}

/* ---------------------------------------------- /*
 * Navigation
/* ---------------------------------------------- */

.navbar {
  background: none;
  border-radius: 0;
  border: 0;
  padding: 20px 0;
  text-transform: uppercase;
  color: #fff !important;
}

.navbar-custom .nav li a:link,
.navbar-custom .nav li a:visited {
  border-bottom: 2px solid transparent;
}

.navbar-custom .nav li a:hover,
.navbar-custom .nav li a:focus,
.navbar-custom .nav li.active {
  background: none;
  outline: 0;
  color: #3498db;
}

.navbar-custom .navbar-brand {
  font: 700 20px/1.2 "Montserrat", serif, sans-serif;
  color: #fff;
  border-bottom: 2px solid transparent;
}

.navbar-custom .navbar-nav > li.active {
  border-bottom: 2px solid #3498db;
}

.navbar-custom .navbar-toggle .icon-bar {
  background: #fff;
}

.navbar-custom .navbar-nav > li > a,
.navbar-custom .navbar-nav .dropdown-menu > li > a {
  color: #fff;
  font-size: 12px;
}

.navbar-color,
.custom-collapse {
  background: #fff;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.2);
  padding: 0;
}

.navbar-color .navbar-brand,
.custom-collapse .navbar-brand,
.navbar-color .navbar-nav > li > a,
.navbar-color .navbar-nav .dropdown-menu > li > a,
.custom-collapse .navbar-nav > li > a,
.custom-collapse .navbar-nav .dropdown-menu > li > a {
  color: #222;
}

.navbar-color .navbar-nav > li.active {
  border-bottom: 2px solid #3498db;
}

.custom-collapse .navbar-nav {
  text-align: left;
}

.custom-collapse .navbar-nav > li.active {
  border: 0;
}

.navbar-color .navbar-toggle .icon-bar,
.custom-collapse .navbar-toggle .icon-bar {
  background: #222;
}

/* --------------------------------------------- */
/* REUSABLE COMPONENTS */
/* --------------------------------------------- */

.center-txt {
  text-align: center;
}

section {
  padding: 80px 0;
}

.box {
  padding: 1px;
}

.icon-list {
  list-style: none;
  padding: 0px;
}

.fa {
  font-size: 100%;
  margin-right: 6px;
}

/* --------- HEADINGS ----------- */
h1,
h2,
h3,
h4,
h5,
h6 {
  /* font: 400 46px/1.2 'Montserrat', serif, sans-serif; */
  font-weight: 400;
  text-transform: uppercase;
}

h1 {
  font-size: 360%;
  margin: 5px 0 15px;
  color: #fff;
}

h2 {
  font-size: 300%;
  font-weight: bold;
  text-align: center;
  margin-bottom: 20px;
}

h3 {
  font-size: 200%;
  margin: 5px 0 15px;
  color: #fff;
}

h4 {
  font-size: 120%;
  font-weight: bold;
  margin: 5px 0 10px;
}

h5 {
  font-size: 80%;
}

h6 {
  font-size: 60%;
}

p {
  font-weight: 400;
  font-size: 15px;
}

h2:after {
  display: block;
  height: 2px;
  background-color: #3498db;
  content: " ";
  width: 100px;
  margin: 0 auto;
  margin-top: 30px;
}

/*----------- PARAGRAPHS --------*/
.long-copy {
  line-height: 145%;
  width: 70%;
  margin-left: 15%;
  margin-bottom: 30px;
}

.box p {
  font-size: 100%;
  line-height: 150%;
}

/* ---------- ICONS ---------*/
.icon-big {
  font-size: 250%;
  display: block;
  color: #3498db;
  margin-bottom: 10px;
}

/* --------- LINKS ---------*/

a:link,
a:visited {
  color: #3498db;
  text-decoration: none;
  padding-bottom: 1px;
  border-bottom: 1px solid #3498db;
  -webkit-transition: border-bottom 0.2s, color 0.2s;
  transition: border-bottom 0.2s, color 0.2s;
}

a:hover,
a:active {
  color: #555;
  border-bottom: 1px solid transparent;
}

/* --------- BUTTONS -------- */

.btn:link,
.btn:visited,
input[type="submit"] {
  display: inline-block;
  padding: 10px 50px;
  font-weight: 300;
  text-decoration: none;
  border-radius: 12px;
  -webkit-transition: background-color 0.2s, border 0.2s, color 0.2s;
  transition: background-color 0.2s, border 0.2s, color 0.2s;
}

.btn-full:link,
.btn-full:visited,
input[type="submit"] {
  background: #3498db;
  border: 1px solid #3498db;
  color: #fff;
  margin-right: 15px;
}

.btn-ghost:link,
.btn-ghost:visited {
  border: 1px solid #3498db;
  color: #3498db;
}

.btn:hover,
.btn:active,
input[type="submit"]:hover,
input[type="submit"]:active {
  background-color: #2487c9;
}

.btn-full:hover,
.btn-full:active {
  border: 1px solid #2487c9;
}

.btn-ghost:hover,
.btn-full:active {
  border: 1px solid #2487c9;
  color: #fff;
}

/* --------------------------------------------- */
/* HEADER */
/* --------------------------------------------- */

header {
  background-image: -webkit-linear-gradient(
      rgba(0, 0, 0, 0.7),
      rgba(0, 0, 0, 0.7)
    ),
    url(img/background4.jpg);
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url(img/background4.jpg);
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position: center;
}

.rotate {
  text-shadow: 0 0 0 !important;
}

/* ---------------------------------------------- /*
 * Intro
/* ---------------------------------------------- */
#myVideo {
  position: fixed;
  object-fit: cover;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
}

.intro {
  padding: 260px 0 160px 0;
  text-align: center;
  color: #fff;
}

.hello {
  margin: 0 0 100px;
}

/* --------------------------------------------- */
/* PROFILE CONTACT */
/* --------------------------------------------- */
.section-profile-contact {
  box-shadow: 0 0 4px rgba(0, 0, 0.2);
  padding: 10px 0;
}

.section-profile-contact a {
  border-bottom: none;
}

.profile-item i {
  display: block;
  line-height: 40px;
  font-size: 180%;
  color: #3498db;
}

/* --------------------------------------------- */
/* SKILLS */
/* --------------------------------------------- */
.section-skills {
  background-color: #f4f4f4;
}
.section-skills .long-copy {
  margin-bottom: 30px;
}
.cert-icons li {
  display: inline-block;
  list-style: none;
  width: 25%;
}

/* --------------------------------------------- */
/* PROFILE */
/* --------------------------------------------- */

.section-profile img {
  max-width: 100%;
  height: auto;
}
.profile-widget {
  margin-bottom: 30px;
}

.about {
  font-size: 80%;
  line-height: 145%;
  width: 100%;
}

.about p {
  font-weight: 100;
  font-size: 120%;
  margin-bottom: 15px;
}

/* --------------------------------------------- */
/* SOCIAL ICONS */
/* --------------------------------------------- */

social-icons {
  list-style: none;
  float: right;
}
.social-icons li {
  display: inline-block;
  margin-right: 20px;
}

.social-icons li a:link,
.social-icons li a:visited {
  text-decoration: none;
  border: 0;
  color: #888;
  -webkit-transition: color 0.2s;
  transition: color 0.2s;
}

.social-icons li a:link,
.social-icons li a:visited {
  font-size: 150%;
}

.fa fa-facebook,
.fa fa-twitter,
.fa fa-github,
.fa fa-googleplus,
.fa fa-instagram {
  -webkit-transition: colo r 0.2s;
  transition: colo r 0.2s;
}

.fa-facebook:hover {
  color: #3b5998;
}

.fa-twitter:hover {
  color: #00aced;
}

.fa-github:hover {
  color: #666666;
}

.fa-google-plus:hover {
  color: #dd4b39;
}

.fa-instagram:hover {
  color: #517fa4;
}

/* ---------------------------------------------- /*
 * Skill-bars
/* ---------------------------------------------- */

.skill-bar {
  background: #c4c4c4;
  display: table;
  height: 4px;
  width: 100%;
  margin: 10px -2px 20px -2px;
}

.skill-bar .skill-rate-on {
  background: #353535;
}

.skill-rate-on,
.skill-rate-off {
  display: table-cell;
  border-left: 2px solid #fff;
  border-right: 2px solid #fff;
}

/* ---------------------------------------------- /*
 * Tabs
/* ---------------------------------------------- */

.nav-pills,
.nav-tabs {
  margin-bottom: 20px;
}

.nav-pills > li > a {
  border-radius: 3px;
}

.nav-tabs > li > a {
  border-radius: 3px 3px 0 0;
}

/* --------------------------------------------- */
/* STATUS */
/* --------------------------------------------- */

.status {
  background-color: #f4f4f4;
}

/* --------------------------------------------- */
/* PORTFOLIO */
/* --------------------------------------------- */
.section-portfolio .long-copy {
  text-align: center;
  margin-bottom: 20px;
}

.portfolio-item {
  margin-bottom: 20px;
  overflow: hidden;
}

.portfolio-item-preview {
  position: relative;
}

.portfolio-item:hover .portfolio-item-preview {
  -webkit-transform: scale(1.1) rotate(2deg);
  transform: scale(1.2) rotate(3deg);
}

.portfolio-item:hover .portfolio-item-description {
  opacity: 1;
  bottom: 0;
}

.portfolio-item-description {
  background: rgba(255, 255, 255, 0.85);
  position: absolute;
  right: 0;
  bottom: -70px;
  left: 0;
  padding: 25px;
  text-align: center;
  opacity: 0;
  color: #222;
}

/* ---------------------------------------------- /*
 * Transition elsements
/* ---------------------------------------------- */
.portfolio-item-description {
  -webkit-transition: all 0.125s ease-in-out 0s;
  transition: all 0.125s ease-in-out 0s;
}

.portfolio-item-preview {
  -webkit-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}

/* --------------------------------------------- */
/* Leetcode */
/* --------------------------------------------- */
iframe {
  display: inline-block;
  width: 640px;
  height: 360px;
  max-width: 100%;
}

.section-leetcode {
  background-color: #f4f4f4;
}

.contact-leetcode {
  width: 80%;
  margin: 0 auto;
}

.section-leetcode a {
  border-bottom: none;
}

.white-space {
  padding-bottom: 50px;
}

/* --------------------------------------------- */
/* FORM */
/* --------------------------------------------- */
/* .section-form {
  background-color: #f4f4f4;
} */

.contact-form {
  width: 80%;
  margin: 0 auto;
}

.section-form a {
  border-bottom: none;
}

.white-space {
  padding-bottom: 50px;
}

.form-messages {
  margin: 70%;
  margin: 0 auto;
  padding: 10px;
  border-radius: 3px;
  margin-bottom: 20px;
  color: #333;
}

.success {
  background-color: rgba(38, 191, 68, 0.8);
}

.error {
  background-color: rgba(209, 39, 39, 0.7);
}

*:focus {
  outline: none;
}

/* --------------------------------------------- */
/* FOOTER */
/* --------------------------------------------- */
#footer {
  background: #141414;
  padding: 15px 0;
  color: #fff;
}

#footer .copy {
  font-size: 80%;
  margin: 15px 0;
}

/* --------------------------------------------- */
/* ANIMATIONS */
/* --------------------------------------------- */

.js--wp-1,
.js--wp-2,
.js--wp-3 {
  opacity: 0;
  -webkit-animation-duration: 1s;
  animation-duration: 1s; /* make it for animation to appear faster*/
}

.js--wp-4 {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
}

.js--wp-1.animated,
.js--wp-2.animated,
.js--wp-3.animated {
  opacity: 1;
}
