.thim-featured-home5 {
	background-image: linear-gradient(to left, $thim_thim_body_primary_color, $thim_thim_button_hover_color);
}

.thim-button-style5 {
	.thim-widget-button {
		.widget-button {
			background: $thim_thim_body_primary_color;
			background: -webkit-linear-gradient(left, $thim_thim_body_primary_color, $thim_thim_button_hover_color);
			background: -o-linear-gradient(left, $thim_thim_body_primary_color, $thim_thim_button_hover_color);
			background: -moz-linear-gradient(left, $thim_thim_body_primary_color, $thim_thim_button_hover_color);
			background: linear-gradient(left, $thim_thim_body_primary_color, $thim_thim_button_hover_color);


			&:hover {
				background: $thim_thim_body_primary_color;
				background: -webkit-linear-gradient(left, $thim_thim_body_primary_color, $thim_thim_button_hover_color);
				background: -o-linear-gradient(left, $thim_thim_body_primary_color, $thim_thim_button_hover_color);
				background: -moz-linear-gradient(left, $thim_thim_body_primary_color, $thim_thim_button_hover_color);
				background: linear-gradient(left, $thim_thim_body_primary_color, $thim_thim_button_hover_color);
			}
		}
	}
}

.wpcf7-form {
	.contact-home5 {

		.widget-title {
			font-family: $thim_thim_font_title_font_family;
		}

		p {
			&.contact-submit {
				input[type=submit] {
					background-image: linear-gradient(to left, $thim_thim_body_primary_color, $thim_thim_button_hover_color);
					font-family: $thim_thim_font_body_font_family;

					&:hover {
						background-image: linear-gradient(to right, $thim_thim_body_primary_color, $thim_thim_button_hover_color);
					}
				}
			}
		}
	}
}

//testimonials home 5 new
.thim-bacground-testimonials-home5 {
	background-image: linear-gradient(to left, $thim_thim_body_primary_color, $thim_thim_button_hover_color);
}


//pricing
.thim-pricing-home5 {
	#shaon-pricing-table-plus.gray {
		.minimal {
			.highlight {
				&.plan {
					.content-highlight {
						h3 {
							font-family: $thim_thim_font_title_font_family;
						}

						h4 {
							.amount {
								font-family: $thim_thim_font_title_font_family;
							}

							.interval {
								font-family: $thim_thim_font_title_font_family;
							}
						}

						.features {
							ul {

								li {
									font-family: $thim_thim_font_body_font_family;

									&:before {
										background-image: linear-gradient(to left, $thim_thim_body_primary_color, $thim_thim_button_hover_color), linear-gradient(to bottom, rgb(102, 102, 102), rgb(102, 102, 102));
									}
								}
							}

							.select {
								a.pt-button {
									background: $thim_thim_body_primary_color;
									background: -webkit-linear-gradient(left, $thim_thim_body_primary_color, $thim_thim_button_hover_color);
									background: -o-linear-gradient(left, $thim_thim_body_primary_color, $thim_thim_button_hover_color);
									background: -moz-linear-gradient(left, $thim_thim_body_primary_color, $thim_thim_button_hover_color);
									background: linear-gradient(left, $thim_thim_body_primary_color, $thim_thim_button_hover_color);

									&:hover {
										background: $thim_thim_body_primary_color;
										background: -webkit-linear-gradient(right, $thim_thim_body_primary_color, $thim_thim_button_hover_color);
										background: -o-linear-gradient(right, $thim_thim_body_primary_color, $thim_thim_button_hover_color);
										background: -moz-linear-gradient(right, $thim_thim_body_primary_color, $thim_thim_button_hover_color);
										background: linear-gradient(right, $thim_thim_body_primary_color, $thim_thim_button_hover_color);
									}
								}
							}
						}
					}
				}

				&.featured {
					.content-highlight {
						background-image: linear-gradient(to left, $thim_thim_body_primary_color, $thim_thim_button_hover_color);

						h3 {
							background-image: linear-gradient(to left, $thim_thim_body_primary_color, $thim_thim_button_hover_color) !important;
						}

						h4 {
							background-image: linear-gradient(to left, $thim_thim_body_primary_color, $thim_thim_button_hover_color) !important;
						}

						//new
						&:before {
							color: $thim_thim_body_primary_color;
						}

					}
				}
			}
		}
	}
}

footer#colophon.thim-footer-home5 {
	.footer {
		p {
			font-family: $thim_thim_font_body_font_family;
		}

		.footer_widget {
			.info-contact {
				ul {
					li {
						font-family: $thim_thim_font_body_font_family;

						i {
							background-image: linear-gradient(to left, $thim_thim_body_primary_color, $thim_thim_button_hover_color), linear-gradient(to bottom, #999999, #999999);
						}

						a {
							font-family: $thim_thim_font_body_font_family;
						}
					}
				}
			}
		}
	}

	.menu .menu-item {

		a {
			font-family: $thim_thim_font_body_font_family;
		}
	}

	.copyright-area {

		.copyright-content {

			.text-copyright {
				font-family: $thim_thim_font_body_font_family;

				a {
					font-family: $thim_thim_font_body_font_family;
					color: $thim_thim_body_primary_color;
				}
			}
		}
	}

	.mc4wp-form .mc4wp-form-fields #thim-subcribe-home5 button {
		background-image: linear-gradient(to left, $thim_thim_body_primary_color, $thim_thim_button_hover_color);
		font-family: $thim_thim_font_body_font_family;

		&:hover {
			background-image: linear-gradient(to right, $thim_thim_body_primary_color, $thim_thim_button_hover_color);
		}
	}
}

.thim-header-home5 {
	.menu-right {
		ul {
			li {
				&.button-style5 {
					a.widget-button {
						background-image: linear-gradient(to left, $thim_thim_body_primary_color, $thim_thim_button_hover_color);

						&:hover {
							background-image: linear-gradient(to right, $thim_thim_body_primary_color, $thim_thim_button_hover_color);
						}
					}
				}
			}
		}
	}
}

.thim-about-me {
	.avatar {
		.info-contact {

			ul {

				li {
					i {
						background-image: linear-gradient(to left, $thim_thim_body_primary_color, $thim_thim_button_hover_color), linear-gradient(to bottom, #666666, #666666);
					}

					a {
						font-family: $thim_thim_font_body_font_family;
					}

					&.info-description {
						p {
							font-family: $thim_thim_font_body_font_family;
						}
					}

					&.title {
						font-family: $thim_thim_font_title_font_family;
					}

				}
			}
		}
	}

	.right {

		.content-info {

			.title-info {
				font-family: $thim_thim_font_title_font_family;
			}

			.about-info {
				font-family: $thim_thim_font_body_font_family;
			}

			a {
				background: $thim_thim_body_primary_color;
				background: -webkit-linear-gradient(left, $thim_thim_body_primary_color, $thim_thim_button_hover_color);
				background: -o-linear-gradient(left, $thim_thim_body_primary_color, $thim_thim_button_hover_color);
				background: -moz-linear-gradient(left, $thim_thim_body_primary_color, $thim_thim_button_hover_color);
				background: linear-gradient(left, $thim_thim_body_primary_color, $thim_thim_button_hover_color);

				&:hover {
					background: $thim_thim_body_primary_color;
					background: -webkit-linear-gradient(left, $thim_thim_body_primary_color, $thim_thim_button_hover_color);
					background: -o-linear-gradient(left, $thim_thim_body_primary_color, $thim_thim_button_hover_color);
					background: -moz-linear-gradient(left, $thim_thim_body_primary_color, $thim_thim_button_hover_color);
					background: linear-gradient(left, $thim_thim_body_primary_color, $thim_thim_button_hover_color);
				}
			}
		}
	}
}

.wrapper-box-icon {
	&.hover_box {
		&:hover {
			background-image: linear-gradient(to left, $thim_thim_body_primary_color, $thim_thim_button_hover_color);
		}
	}
}

//ak
//counter box home 5
.thim-widget-counters-box {
	.counter-box {
		&.home-5 {
			.content-box-percentage {
				.display-percentage {
					background-image: linear-gradient(to left, $thim_thim_body_primary_color, $thim_thim_button_hover_color), linear-gradient(to bottom, #ffffff, #ffffff);
					font-family: $thim_thim_font_title_font_family;
				}

				.counter-box-content {
					font-family: $thim_thim_font_body_font_family;
				}
			}
		}
	}
}

//widget course home 5
.thim-course-grid {
	&.home5-layout {
		.lpr_course {
			.course-item {
				.thim-course-content {
					.course-title {
						a {
							font-family: $thim_thim_font_title_font_family;
						}
					}

					.course-review {
						.value {
							.average-value {
								font-family: $thim_thim_font_body_font_family;
							}

							.review-amount {
								font-family: $thim_thim_font_body_font_family;
							}
						}
					}

					.course-meta {
						.students-feature {
							.value {
								font-family: $thim_thim_font_body_font_family;
							}
						}

						.course-price {
							.value {
								background-image: linear-gradient(to left, $thim_thim_body_primary_color, $thim_thim_button_hover_color), linear-gradient(to bottom, rgb(255, 255, 255), rgb(255, 255, 255));
								font-family: $thim_thim_font_body_font_family;

								.course-origin-price {
									font-family: $thim_thim_font_body_font_family;
								}
							}
						}
					}
				}
			}

			&:hover {
				.course-item {
					background-image: linear-gradient(to left, $thim_thim_body_primary_color, $thim_thim_button_hover_color);
				}
			}
		}
	}
}

.thim-button-style5.view-all {
	a.view-all-courses {
		background: $thim_thim_body_primary_color;
		background: -webkit-linear-gradient(left, $thim_thim_body_primary_color, $thim_thim_button_hover_color);
		background: -o-linear-gradient(left, $thim_thim_body_primary_color, $thim_thim_button_hover_color);
		background: -moz-linear-gradient(left, $thim_thim_body_primary_color, $thim_thim_button_hover_color);
		background: linear-gradient(left, $thim_thim_body_primary_color, $thim_thim_button_hover_color);

		&:hover {
			background: $thim_thim_body_primary_color;
			background: -webkit-linear-gradient(left, $thim_thim_body_primary_color, $thim_thim_button_hover_color);
			background: -o-linear-gradient(left, $thim_thim_body_primary_color, $thim_thim_button_hover_color);
			background: -moz-linear-gradient(left, $thim_thim_body_primary_color, $thim_thim_button_hover_color);
			background: linear-gradient(left, $thim_thim_body_primary_color, $thim_thim_button_hover_color);
		}
	}
}

//widget testimonial home 5
.thim-testimonial-home5 {
	.widget-title {
		font-family: $thim_thim_font_title_font_family;
	}

	.item {
		.left-testimonials {
			.description {
				.thim-excerpt {
					font-family: $thim_thim_font_body_font_family;
				}
			}

			.content {
				.content-info {
					.author {
						a {
							font-family: $thim_thim_font_body_font_family;
						}
					}

					.regency {
						font-family: $thim_thim_font_body_font_family;
					}
				}
			}
		}
	}

	.owl-controls {
		.owl-nav {
			.owl-prev {
				&:hover {
					&:before {
						background-image: linear-gradient(to left, $thim_thim_body_primary_color, $thim_thim_button_hover_color), linear-gradient(to bottom, rgb(240, 154, 61), rgb(240, 154, 61));
					}
				}
			}

			.owl-next {
				&:hover {
					&:before {
						background-image: linear-gradient(to left, $thim_thim_body_primary_color, $thim_thim_button_hover_color), linear-gradient(to bottom, rgb(240, 154, 61), rgb(240, 154, 61));
					}
				}
			}
		}
	}
}

//widget list post home 5
.thim-list-posts {
	&.home5 {
		.thim-list-posts-slider {
			.thim-list-slide-posts-carousel-container {
				.thim-carousel {
					.item-post {
						.article-image {
							.learn-more {
								background: -webkit-linear-gradient(left, $thim_thim_body_primary_color, $thim_thim_button_hover_color);
								background: -o-linear-gradient(left, $thim_thim_body_primary_color, $thim_thim_button_hover_color);
								background: -moz-linear-gradient(left, $thim_thim_body_primary_color, $thim_thim_button_hover_color);
								background: linear-gradient(left, $thim_thim_body_primary_color, $thim_thim_button_hover_color);

								&:hover {
									background: -webkit-linear-gradient(right, $thim_thim_body_primary_color, $thim_thim_button_hover_color);
									background: -o-linear-gradient(right, $thim_thim_body_primary_color, $thim_thim_button_hover_color);
									background: -moz-linear-gradient(right, $thim_thim_body_primary_color, $thim_thim_button_hover_color);
									background: linear-gradient(right, $thim_thim_body_primary_color, $thim_thim_button_hover_color);
								}
							}
						}

						.entry-content {
							.main-content {
								.entry-header {
									.entry-title {
										a {
											font-family: $thim_thim_font_title_font_family;
										}
									}
								}
							}

							.entry-meta {
								li.author {
									i {
										background-image: linear-gradient(to left, $thim_thim_body_primary_color, $thim_thim_button_hover_color), linear-gradient(to bottom, #848484, #848484);
										background-image: -moz-linear-gradient(to left, $thim_thim_body_primary_color, $thim_thim_button_hover_color), linear-gradient(to bottom, #848484, #848484);
										background-image: -webkit-linear-gradient(to left, $thim_thim_body_primary_color, $thim_thim_button_hover_color), linear-gradient(to bottom, #848484, #848484);
									}

									span {
										a {
											font-family: $thim_thim_font_body_font_family;
										}
									}
								}

								li.entry-comment {
									i {
										background-image: linear-gradient(to left, $thim_thim_body_primary_color, $thim_thim_button_hover_color), linear-gradient(to bottom, #848484, #848484);
										background-image: -moz-linear-gradient(to left, $thim_thim_body_primary_color, $thim_thim_button_hover_color), linear-gradient(to bottom, #848484, #848484);
										background-image: -webkit-linear-gradient(to left, $thim_thim_body_primary_color, $thim_thim_button_hover_color), linear-gradient(to bottom, #848484, #848484);
										background-image: -o-linear-gradient(to left, $thim_thim_body_primary_color, $thim_thim_button_hover_color), linear-gradient(to bottom, #848484, #848484);
									}

									span {
										a {
											font-family: $thim_thim_font_body_font_family;
										}
									}
								}
							}
						}
					}

					.owl-controls {
						.owl-nav {
							> div {
								&:hover {
									background: -webkit-linear-gradient(left, $thim_thim_body_primary_color, $thim_thim_button_hover_color);
									background: -o-linear-gradient(left, $thim_thim_body_primary_color, $thim_thim_button_hover_color);
									background: -moz-linear-gradient(left, $thim_thim_body_primary_color, $thim_thim_button_hover_color);
									background: linear-gradient(left, $thim_thim_body_primary_color, $thim_thim_button_hover_color);
								}
							}
						}
					}
				}
			}
		}
	}
}

.body-therapist-layout.body-home5-layout {
	#back-to-top {
		background: -webkit-linear-gradient(left, $thim_thim_body_primary_color, $thim_thim_button_hover_color);
		background: -o-linear-gradient(left, $thim_thim_body_primary_color, $thim_thim_button_hover_color);
		background: -moz-linear-gradient(left, $thim_thim_body_primary_color, $thim_thim_button_hover_color);
		background: linear-gradient(left, $thim_thim_body_primary_color, $thim_thim_button_hover_color);

		&:hover {
			background: -webkit-linear-gradient(right, $thim_thim_body_primary_color, $thim_thim_button_hover_color);
			background: -o-linear-gradient(right, $thim_thim_body_primary_color, $thim_thim_button_hover_color);
			background: -moz-linear-gradient(right, $thim_thim_body_primary_color, $thim_thim_button_hover_color);
			background: linear-gradient(right, $thim_thim_body_primary_color, $thim_thim_button_hover_color);
		}
	}
}

.thim-about-me .avatar .info-contact ul li a:hover,
.thim-testimonial-home5 .item .left-testimonials .content .content-info .author a:hover,
.thim-list-posts.home5 .thim-list-posts-slider .thim-list-slide-posts-carousel-container .thim-carousel .item-post .entry-content .main-content .entry-header .entry-title a:hover,
footer#colophon.thim-footer-home5 .footer .footer_widget .info-contact ul li a:hover {
	color: $thim_thim_body_primary_color;
}

#thim-popup-login .thim-login-container p.login-remember label {
	color: $thim_thim_font_body_color !important;
}

.content_maps .content_wrap .content_place .item_pace p a {
	color: $thim_thim_font_body_color;
}

.content_maps .content_wrap .content_place .item_pace p a:hover {
	color: $thim_thim_body_primary_color;
}

.page-template-default.body-home5-layout .navigation .site-header.bg-custom-sticky.affix .navbar-nav > li > a,
body:not(.home).body-home5-layout .navigation .site-header.bg-custom-sticky.affix .navbar-nav > li > span {
	color: $thim_thim_font_body_color;
}

